on: pull_request_review
name: Label reviewed pull requests
jobs:
  labelWhenApproved:
    name: Label when revieved first time
    runs-on: ubuntu-latest
    steps:
    - name: Label when approved
      uses: pullreminders/label-when-approved-action@master
      env:
        APPROVALS: "2"
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        ADD_LABEL: "second-review"
        REMOVE_LABEL: "first-review"
  labelWhenApprovedFirstTime:
    name: Label when revieved first time
    runs-on: ubuntu-latest
    steps:
    - name: Label when approved
      uses: pullreminders/label-when-approved-action@master
      env:
        APPROVALS: "1"
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        ADD_LABEL: "first-review"
        REMOVE_LABEL: "to-be-reviewed"
